<!DOCTYPE HTML>
<html>

<head>
	<title>Battleship | Prometheus '19</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1>Battleship | Prometheus '19</a></h1>
			<nav>
				{{#if request.user.access}}
                <a href="/addQuestion">Add Question</a>
                {{/if}}
				<a href="/user">Rules</a>
				<a href="/battleship">Grid</a>
				<a href="/leaderboard">Leaderboard</a>
				<a href="/logout">Logout</a>
			</nav>
		</header>

		<section id="banner">
			<div class="inner">
				<div class="logo"><span><img src="images/logo.png" alt=""></span></div>
				<h1>Battleship</h1>
				<h3>Prometheus '19</h3>
			</div>
		</section>

		<!-- Wrapper -->
		<section id="wrapper">

			<!-- Content -->
			<div class="wrapper">
				<div class="inner">
					<span style="display:flex;max-width:1200px;justify-content:space-between">
						<h2 style="font-size:17px;">Points: {{request.user.score}}</h2>
						<h2 style="font-size:17px;" >Missiles Earned: {{request.user.missile}}</h2>
					</span>
					<br>
					<section>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>QUESTION</th>
										<th>POINTS</th>
										<th>ATTEMPTS LEFT</th>
									</tr>
								</thead>
								<tbody>
                                    {{#each questions}}
									{{#if this.solved}}
									<tr onclick="window.location = '/questions/{{this.qid}}'" class="solved">
										<td><font color="#04db0f">{{this.title}}</font></td>
                                        <td><font color="#04db0f">{{this.points}}</font></td>
										{{#if this.attempt_no}}
										<td><font color="#04db0f">{{this.attempt_no}}</font></td>
										{{else}}
										<td><font color="#04db0f">Solved</font></td>
										{{/if}}
                                    </tr>
									{{else}}
										{{#if this.attempt_no}}
										<tr onclick="window.location = '/questions/{{this.qid}}'">
											<td>{{this.title}}</td>
                                    	    <td>{{this.points}}</td>
                                    	    <td>{{this.attempt_no}}</td>
                                    	</tr>
										{{else}}
										<tr onclick="window.location = '/questions/{{this.qid}}'" class="solved">
										<td><font color="#ee1c04">{{this.title}}</font></td>
                                        <td><font color="#ee1c04">{{this.points}}</font></td>										
										<td><font color="#ee1c04">{{this.attempt_no}}</font></td>
                                        </tr>
										{{/if}}
									{{/if}}
                                    {{/each}}
								</tbody>
							</table>
						</div>						
					</section>					
				</div>
			</div>

		</section>

		<!-- Footer -->
        <footer id="footer">
			<div class="inner">
				<p class="copyright">IECSE Manipal</p>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<style>
		td{
			cursor: pointer;
		}
	</style>

</body>

</html>