<!DOCTYPE HTML>
<html>

<head>
    <title>Battleship | Prometheus '19</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <base href="/">
    <link rel="stylesheet" href="assets/css/main.css" type="text/css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Page Wrapper -->
    <p hidden id="ques">{{question.qid}}</p>
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1>Battleship | Prometheus '19</a></h1>
            <nav>
                {{#if request.user.access}}
                <a href="/editQuestion/{{question.qid}}">Edit Question</a>
                {{/if}}
                <a href="/questions">Back to Questions</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>

        <!-- Wrapper -->
        <section id="wrapper">
            <header>
                <div class="inner">
                    <br>
                    <span style="display:flex;max-width:1200px;justify-content:space-between">
                        <h2 style="font-size:17px;">{{question.title}}</h2>
                        <h2 style="font-size:17px;">Points: {{question.points}}</h2>                        
                        <h2 style="font-size:17px;">Difficulty: {{diff}}</h2>                
                    </span>
                </div>
            </header>

            <!-- Content -->
            <div class="wrapper">
                <div class="inner">
                    {{{question.body}}}
                    <h3><br>Input Format</h3>
                    {{{question.input_format}}}
                    <h3><br>Output Format</h3>
                    {{{question.output_format}}}
                    <h3><br>Constraints</h3>
                    {{{question.constraints}}}
                    <h3><br>Sample Input</h3>
                    <pre><code>{{{question.sample_input}}}</code></pre>
                    <h3>Sample Output</h3>
                    <pre><code>{{{question.sample_output}}}</code></pre>
                    <h3 style="display: inline-block; justify-content:space-between;">Testcase Input</h3>
                    <div class = "tooltip">
                        <icon class="fa fa-copy" onclick="javascript:copy()"></icon>
                        <span class="tooltiptext">Click to copy testcase</span>
                    </div>
                    <pre><code id="testcase" style="overflow-y:auto; height:100px;">{{{testcase}}}</code></pre>
                    <form action="javascript:submit()">
                        <div class="field">
							<label for="message">Your Output</label>
							<textarea name="answer" id="ans" rows="2" placeholder="Enter your answer here"></textarea>
						</div>
                        <div class="col-12">
                            <br>
                            <input type="submit" value="Submit" class="primary" />
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <p class="copyright">IECSE Manipal</p>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/question.js"></script>

    <style>

        .tooltip {
            position: relative;
            display: inline-block;
            cursor: pointer;
            justify-content:space-between;
            left: 81%
        }
        .tooltip .tooltiptext {
            visibility: hidden;
			width: 120px;
			background-color: black;
			color: #fff;
			text-align: center;
			padding: 5px 0;
			border-radius: 6px;
			position: absolute;
			z-index: 1;
        }
        .tooltip:hover .tooltiptext {
			visibility: visible;
		}
    </style>

</body>

</html>